<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 비밀번호 변경</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              {% if user.is_authenticated %}
              <p>{{user.username}}</p>
              {% else %}
              <p><a href="{% url 'account:login' %}">LOGIN</a> / <a href="{% url 'account:signup' %}">SIGNUP</a></p>

              {% endif %}
            </div>
          </div>
          <a href="{% url 'account:mypage' %}">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="content-title">
            <p>비밀번호 변경</p>
          </div>

          <div class="box">
            <form action="{% url 'account:change_password' %}" class="form" method="post">
              {% csrf_token %}
              <div class="input-box">
                <p>PREVIOUS PASSWORD</p>
                <input type="password" id="id_old_password" name="old_password" class="input-field" required />
              </div>

              <div class="input-box">
                <p>NEW PASSWORD</p>
                <input type="password" id="id_new_password1" name="new_password1" class="input-field" required />
              </div>

              <div class="input-box">
                <p>NEW PASSWORD CONFIRM</p>
                <input type="password" id="id_new_password2" name="new_password2" class="input-field" required />
              </div>

              <input id="change" type="submit" value="DONE" />
            </form>
          </div>

          <p id="message"></p>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'image/speech-bubble.png' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
    <script src="{% static 'js/change-password.js' %}"></script>
  </body>
</html>
