<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 마이페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="/">
            <img src="{% static 'image/logo.png' %}" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              {% if user.is_authenticated %}
              <p>{{user.username}}</p>
              {% else %}
              <p><a href="{% url 'account:login' %}">LOGIN</a> / <a href="{% url 'account:signup' %}">SIGNUP</a></p>

              {% endif %}
            </div>
          </div>
          <a href="{% url 'account:mypage' %}">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="{% static 'image/user.png' %}" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="content-title">
            <p>MY PAGE</p>
          </div>

          <div class="box">
            <a href="{% url 'account:update' %}"><button id="personalInfo">개인정보 변경</button></a><br /><br />
            <a href="{% url 'account:change_password' %}"><button id="passwordChange">비밀번호 변경</button></a><br /><br />
            <a href="{% url 'account:logout' %}"><button id="logout">로그아웃</button></a><br /><br />
            <div class="post-box">
              <div class="post-container">
                <div class="post-title">
                  <p>내가 쓴 글</p>
                </div>
                <div class="post-write-box">
                  <!-- 쓴 글 하나 -->
                  {% if my_info.exists %} {% for i in my_info %}
                  <a href="{{ i.get_absolute_url }}">
                    <div class="post-write">
                      <p>{{i.title}}</p>
                      <p>{{i.pub_date}}</p>
                    </div>
                  </a>
                  {% endfor %}
                  <!-- 쓴 글 end -->
                  {% else %}
                  <p style="margin: 15px 0">아무 게시물이 없습니다.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="{% static 'image/speech-bubble.png' %}" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
    <script src="{% static 'js/my-page.js' %}"></script>
  </body>
</html>
