<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 챗봇</title>

    <link rel="stylesheet" href="./css/chatbotht.css" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="#">
            <img src="./image/logo.png" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="./image/user.png" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="box">
            <div class="content-title">
              <p>ChatBot</p>
            </div>

            <div class="chat-first">
              <div class="chat-img">
                <img src="./image/speech-bubble.png" alt="챗봇" />
              </div>
              <div class="chat-comment">
                <p>안녕하세요! 궁금한 것을 물어보세요.</p>
              </div>
            </div>

            <div class="chats">
              <!-- 질문 & 답변 -->
              <div class="chat-mine">
                <div class="chat-comment-2">
                  <p>질문입니다.</p>
                </div>
              </div>

              <div class="chat-ans">
                <div class="chat-comment-2">
                  <p>답변입니다.</p>
                </div>
              </div>

              <!-- 질문 & 답변 -->
              <div class="chat-mine">
                <div class="chat-comment-2">
                  <p>질문입니다.</p>
                </div>
              </div>

              <div class="chat-ans">
                <div class="chat-comment-2">
                  <p>답변입니다.</p>
                </div>
              </div>

              <!-- 질문 & 답변 -->
              <div class="chat-mine">
                <div class="chat-comment-2">
                  <p>질문입니다.</p>
                </div>
              </div>

              <div class="chat-ans">
                <div class="chat-comment-2">
                  <p>답변입니다.</p>
                </div>
              </div>
            </div>

            <form action="#" class="form">
              <input type="text" name="" id="comment-text" placeholder="문의사항을 입력해주세요." />
              <input type="submit" value="완료" class="submit-button" />
            </form>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="./image/speech-bubble.png" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
    <script src="./js/preview-file.js"></script>
  </body>
</html>
