<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>졸업을 도와조 : 시각디자인</title>

    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body>
    <div class="container">
      <header class="hd">
        <div class="left-line">
          <hr />
          <hr />
        </div>
        <div class="logo">
          <a href="#">
            <img src="image/logo.png" alt="로고" />
          </a>
        </div>
        <div class="center-line">
          <hr />
          <hr />
        </div>
        <div class="user">
          <div class="login-username">
            <div class="login">
              <a href="#">
                <p>LOGIN / SIGNUP</p>
              </a>
            </div>
          </div>
          <a href="#">
            <div class="profile">
              <p>MYPAGE</p>
              <img src="./image/user.png" alt="프로필" /></div
          ></a>
        </div>
        <div class="right-line">
          <hr />
          <hr />
        </div>
      </header>

      <section class="sec">
        <div class="content">
          <div class="dept">
            <!-- 대학 정보 -->
            <div class="univ">
              <p>시각디자인전공</p>
              <p style="font-size: 1.7em">Visual Communication Design</p>
            </div>
            <div class="select-dept">
              <div class="univ-name">
                <p>Art&Design 대학</p>
              </div>
              <div class="choose">
                <form action="#" method="POST">
                  <!-- changeDept -->
                  <select name="dept-art" id="input-dropdown">
                    <option disabled value="">전공을 선택해주세요. ▼</option>
                    <option value="eastart">동양화전공</option>
                    <option value="westart">서양화전공</option>
                    <option value="interior">실내디자인전공</option>
                    <option selected value="visual">시각디자인전공</option>
                    <option value="textile">텍스타일디자인전공</option>
                  </select>
                  <input type="submit" value="선택" id="choose-btn" />
                </form>
              </div>
            </div>
          </div>

          <div class="box">
            졸업요건
            <div class="contentbox">
              1. 시각디자인전공생<br />
              졸업전시: 졸업 전시 관련 3계열 교과과목(필수권장)중 2계열 과목을 1년 코스로 수강하고 졸업전시를 한다.<br />
              2.복수전공생<br />
              졸업전시 관련 3계열 교과목중 1계열 교과과목(필수권장)을 선택하여 1년 코스로 수강하고 졸업전시를 함<br />
              *졸업 전시 관련 3 계열 교과과목(필수권장)<br />
              커뮤니케이션 디자인(커뮤니케이션디자인 프로젝트, 커뮤니케이션디자인 졸업프로젝트) , 일러스트레이션(스토리텔링 일러스트 프로젝트, 스토리텔링 일러스트 졸업프로젝트)<br />
              영상디자인(영상콘텐츠 디자인 프로젝트, 영상 디자인 졸업프로젝트)<br />
            </div>
          </div>

          <div class="box">
            전시회 정보(최근 2개년)
            <div class="contents">
              <div class="contentbox-2">
                <div class="grad-img">
                  <img src="./image/grad/visual(2021).jpg" alt="전시회 이미지" />
                </div>
                <div class="grad-text">
                  <p style="font-size: 1.1em; font-weight: bold">제 56회 졸업전시회</p>
                  <p style="font-weight: bold; margin-top: 5px">장소</p>
                  <p>홍익대학교 대학로 아트세트 B1</p>
                  <p style="font-weight: bold; margin-top: 5px">일시</p>
                  <p>11.05 FRI ~ 11.09 TUE 10:00~18:00</p>
                  <p style="font-weight: bold; margin-top: 5px">인스타</p>
                  <a href="https://www.instagram.com/duksung_vcd/"><p>@duksung_vcd</p></a>
                </div>
              </div>
              <div class="contentbox-2">
                <div class="grad-img">
                  <img src="./image/grad/visual(2022).jpg" alt="전시회 이미지" />
                </div>
                <div class="grad-text">
                  <p style="font-size: 1.1em; font-weight: bold">제 57회 졸업전시회</p>
                  <p style="font-weight: bold; margin-top: 5px">장소</p>
                  <p>홍익대학교 대학로 아트센트 B1 1관</p>
                  <p style="font-weight: bold; margin-top: 5px">일시</p>
                  <p>11.16 WED ~ 11.20 SUN 10:00~18:00</p>
                  <p style="font-weight: bold; margin-top: 5px">인스타</p>
                  <a href="https://www.instagram.com/duksung_vcd/"><p>@duksung_vcd</p></a>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            졸업 작품 아카이브
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>
            <!-- 아카이빙 -->
            <div class="contentbox-3">
              <div class="grad-img">
                <img src="./image/grad/WISCOM.jpg" alt="전시회 이미지" />
              </div>
              <div class="grad-text">
                <p style="font-size: 1.1em; font-weight: bold">제 32회 졸업전시회</p>
                <p style="margin-top: 20px">SHORT</p>
                <p>WRC (김윤수 김은지 최은지 민상은)</p>
                <p style="margin-top: 20px">북마크 및 즐겨찾기가 필요한 링크 또는 이미지를 한 눈에 요약해주고, 필요하면 노트식으로 정리해주는 웹 서비스</p>
              </div>
            </div>

            <!-- 아카이빙 버튼 -->
            <a href="{% url 'create_archiving' %}">
              <div class="contentbox-btn">
                <p>+</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <footer class="ft">
        <hr />
        <hr />
      </footer>

      <navigation class="nav">
        <a href="#">
          <div class="chat-button">
            <img src="./image/speech-bubble.png" alt="챗봇" /></div
        ></a>
      </navigation>
    </div>
  </body>
</html>
